  :root {
    --primary-color: #b2afee;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0.3);
  }

  header {
    text-align: center;
    min-height: 400px;
    position: relative;
    padding-top: 100px;
    padding-bottom: 150px;
  }
  h2 {
    padding-top: 10px;
    font-size: 48px;
  }
  .img-pic {
    border-radius: 5%;
  }
  .tm-border {
    border: 5px solid gray;
    box-shadow: 2px 2px #fff;
  }
  .name {
    color:royalblue;
    font-size: 48px;
  }
  .title {
    color: royalblue;
    font-size: 48px;
  }
  .shadow {
    text-shadow: 1px 1px #fff;
  }
  .primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: rgb(71, 70, 70);
  }

  body {
    background-color: black;
    position: relative;
    margin: 0 auto;
    padding: 0;
  }
  .square {
    padding: 15px;
  }
  .about {
    text-align: center;
    background: steelblue;
    color: white;
    min-height: 390px;
    min-width: 580;
  }
  .certificate {
    text-align: center;
    background: white;
    color: steelblue;
    min-height: 390px;
    min-width: 580;
  }
  .project {
    text-align: center;
    background: white;
    color: steelblue;
    min-height: 390px;
    min-width: 580;
  }
  .icons {
    text-align: center;
    background: steelblue;
    color: white;
    min-height: 390px;
    min-width: 580;
  }
  .skill {
    border-radius: 50px;
    background: #fff;
    margin: 0 auto;
    padding: 10px;
    width: 80px;
    height: 80px;
  }
  .skill-blue {
    border-radius: 50px;
    background: steelblue;
    margin: 0 auto;
    padding: 10px;
    width: 80px;
    height: 80px;
  }
  .location {
    color: white;
  }
  @media ( max-width: 780px ) {
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 24px;
    }
  }
  footer {
    text-align: center;
  }

  .social {
    padding: 0;
    margin: 0;
  }
  .social li {
    display: inline-block;
    list-style: none;
  }
  .social li a {
    background: #3366CC;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: all 0.5s ease-in;
    position: relative;
    bottom: 10px;
    top: 10px;
  }
  .social li a:hover {
    background: #202020;
    color: #fff;
  }
  .container-footer {
    margin-bottom: 20px;
  }